*.js
!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out

# env


# next.js dependencies
frontend/node_modules

# next.js caching
frontend/.next/
frontend/out/

# next.js production
frontend/build

# local env files
frontend/.env*.local
frontend/.env

# vercel
frontend/.vercel

# typescript
frontend/*.tsbuildinfo
frontend/next-env.d.ts
